{% extends 'COVID_19app/base.html' %}

{% block content %}
    <h1>Register Patient</h1>

    <form method="post" action="/patients/register">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number">

        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" name="date_of_birth" id="date_of_birth">

        <input type="submit" value="Register">
    </form>
{% endblock %}
